<!DOCTYPE html>

<head>
    <title>Linked Data Browser</title>
    <link rel="icon" href="/static/images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header>
        <h1 class="logo">
            <img src="/static/images/logo-color.png">
            <a href="/page">Linked Data Browser</a>
        </h1>
        <div class="time">
            <p>Data loaded in {{delay}} ms</p>
            <p>Page rendered in {{get_delay render_start}} ms</p>
        </div>
    </header>

    <main>
        <h1 id="target">{{{ format @root.table url }}}</h1>

        {{#if (and (empty subject) (empty object) (empty property)) }}
        <div class="error-404">404</div>
        {{/if}}

        {{#if (not (and (empty subject) (empty object)))}}
            <table>
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>

                <!-- resource is subject -->
                {{#each (sort subject)}}
                    {{setVar "prop" this}}
                    {{#each (sort (get @root.subject this))}}
                        <tr>
                            {{#if @root.prop}}
                                <td>{{{ format @root.table @root.prop }}}</td>
                                {{setVar "prop" ""}}
                            {{else}}
                                <td></td>
                            {{/if}}
                            <td>{{{ format @root.table this }}}</td>
                        </tr>
                    {{/each}}
                {{/each}}



                <!-- resource is object -->
                {{#each (sort object)}}
                    {{setVar "prop" this}}
                    {{#each (sort (get @root.object this))}}
                        <tr>
                            {{#if @root.prop}}
                                <td>is {{{ format @root.table @root.prop }}} of</td>
                                {{setVar "prop" ""}}
                            {{else}}
                                <td></td>
                            {{/if}}
                            <td>{{{ format @root.table this }}}</td>
                        </tr>
                    {{/each}}
                {{/each}}
            </table>
        {{/if}}

        {{#if property}}
            <table>
                <tr>
                    <th>Subject</th>
                    <th>Object</th>
                </tr>

                <!-- resource is subject -->
                {{#each property}}
                    <tr>
                        <td>{{{ format @root.table (get this 0) }}}</td>
                        <td>{{{ format @root.table (get this 1) }}}</td>
                    </tr>
                {{/each}}
            </table>
        {{/if}}
    </main>

    <footer>
        <p><b>Linked Data Browser</b> is distributed under the MIT License</p>
        <p>GitHub: <a href="https://github.com/keski/Linked-Data-Browser">https://github.com/keski/Linked-Data-Browser</a></p>
    </footer>
</body>